# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.output/
.astro/

# IDE / Editor
.vscode/
.idea/
*.swp
*.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Deployment artifacts to ignore on git
deployment_package/
deployment_package.zip

scripts/
test.txt
